﻿html {
    overflow: auto;
    overflow-x: hidden;
}

@media (min-width: 992px) {
    .home-page header {
        background: rgba(255, 255, 255, 0);
    }
}

@media (min-width: 992px) {
    .home-page header ul {
        margin: 0 40px 0 0;
        right: 40px;
        top: 45px;
    }
}

@media (min-width: 768px) {
    .container {
        width: 1170px;
        max-width: 100vw;
        /*margin: 0 -15px;*/
    }
}
@media (max-width: 800px) {
    .container {
        margin: 0 -15px;
    }
}

.home-page header {
    position: absolute;
    top: 20px;
    background: transparent;
    max-width: 100vw;
}

.home-page header.headerFixed {
    transition: .5s ease all;
    background: #fff;
    box-shadow: 0 4px 2px -2px rgba(0, 0, 0, .1);
    padding: 12px 0;
    position: fixed;
    top: -100px;
    opacity: 0;
}

.home-page header.headerFixed.fixed {
    opacity: 1;
    top: 0;
}

.home-page header.headerFixed img {
    height: 60px;
}

.home-page header.headerFixed ul {
    top: 25px;
}

.home-page {
    padding-top: 0;
    color: #1e2638;
}

.home-page .tr-btn {
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    font-weight: bold;
    border-radius: 5px;
    transition: .2s ease all;
}

.home-page .tr-btn--primary2 {
    box-shadow: 0 20px 30px -5px rgba(242, 134, 25, 0.38), 0 1px 10px 0 rgba(255, 180, 0, 0.47);
    background-image: linear-gradient(to right, #FFBA0F, #f59e00);
    color: #ffffff;
    border: none !important;
}

.home-page .tr-btn--primary2:hover {
    background-image: linear-gradient(to right, #F8B101, #F09B02);
    box-shadow: 0 20px 30px -5px rgba(242, 134, 25, 0.38), 0 5px 10px 0 rgba(0, 0, 0, 0.15);
}

.home-page .tr-btn--large {
    font-size: 16px;
    letter-spacing: 1px;
    padding: 15px 20px;
    min-width: 230px;
}

.home-page .tr-btn--subtle {
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.5px;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.1);
}

.home-page .tr-btn--secondary {
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 0.5px;
    background: #fff;
    border-color: #fff;
    color: #52545b;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .15);
}

.home-page .tr-btn--secondary:hover {
    background: #f9f9f9;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
}

.home-page .tr-btn--primary {
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 0.5px;
    background: #ffba0f;
    border-color: #ffba0f;
    color: #fff;
    box-shadow: 0 2px 5px rgba(255, 201, 66, .5);
}

.home-page .tr-btn--primary:hover {
    background: #f5ae00;
    box-shadow: 0 2px 5px rgba(255, 186, 15, .2);
}

.home-page .hero-container {
    padding: 130px 0 150px;
    background: #1e1d26 url(/assets/landing_bg.jpg) center center;
    background-size: cover;
}

.home-page .hero-container h1 {
    width: auto;
}

@media (max-width: 540px) {
    .home-page header {
        top: 0;
    }

    .home-page header img {
        height: 40px !important;
    }

    .home-page header ul {
        top: 23px;
    }

    .home-page header ul li:last-child {
        margin-left: 10px;
    }

    .home-page .hero-container {
        padding: 100px 10px 40px 10px;
    }
}


.home-page .hero-container h1 {
    font-weight: 300;
    text-transform: uppercase;
    margin: .2em auto;
    line-height: 1.5 !important;
    font-size: 7vw;
    max-width: 12em;
}

.home-page .hero-container h1 b {
    font-weight: bold;
}

@media (min-width: 768px) {
    .home-page .hero-container h1 {
        font-size: 47px;
        max-width: 11.5em;
    }
}

@media (max-width: 520px) {
    .home-page .hero-container h1 {
        font-size: 36px;
    }
}

@media (min-width: 640px) {
    .home-page header {
        text-align: center;
    }
}



.home-page .hero-container p {
    font-size: 18px;
}

.home-page .hero-actions {
    margin: 40px 0 0 0;
}

.home-page .hero-content {
    display: flex;
    min-height: 50vh;
    align-items: center;
    justify-content: center;
    padding: 30px 0;
}

.home-page .hero-content>div {
    width: 100%;
}

.home-page .hero-container ul {
    padding-left: 20px;
    font-size: 18px;
    margin: 30px 0;
}

.home-page .hero-container li {
    margin-bottom: 15px;
}

.home-page .hero-container b {
    color: #ffba0f;
}

.home-page .hero-container ul {}

.tr-testimony {
    color: #1e2638;
}


.home-page .tr-panel {
    border-radius: 12px;
    box-shadow: 0 18px 30px -14px rgba(0, 0, 0, 0.11), 0 2px 5px -2px rgba(0, 0, 0, 0.16);
    background-color: #ffffff;
    padding: 20px;
    margin: 20px;
}


.home-page .trTestimony {
    max-width: 760px;
    margin: 0;
    color: #333;
    padding: 40px;
}

.testimonySlider {
    max-width: 760px;
    margin: 0 auto;
}

.container .testimonySlider {
    margin-top: -100px;
}

.testimonySlider .bx-wrapper {
    background: none;
    border: none;
    box-shadow: none;
}

.testimonySlider .bx-viewport {
    padding-top: 50px;
    box-sizing: content-box;
}

.trTestimony-thumb {
    margin: -90px auto 20px auto;
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    overflow: hidden;
    border: 8px solid #F4F3F2;
}

.trTestimony-thumb img {
    max-width: 100%;
    height: auto;
}

.trTestimony blockquote {
    font-size: 20px;
    font-weight: 300;
    line-height: 1.8;
    border: none;
    padding: 0;
}

.testimonySlider .bx-wrapper .bx-pager.bx-default-pager a {
    background: transparent;
    border: 1px solid #fff;
}

.testimonySlider .bx-wrapper .bx-pager.bx-default-pager a:hover,
.testimonySlider .bx-wrapper .bx-pager.bx-default-pager a.active,
.testimonySlider .bx-wrapper .bx-pager.bx-default-pager a:focus {
    background: #fff;
}


.trActionBox-wrapper {
    margin-top: -100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.trActionBox {
    text-align: center;
    max-width: 360px;
    padding: 40px !important;
    padding-bottom: 110px !important;
    position: relative;
}

.trActionBox h2 {
    font-size: 32px;
    font-weight: bold;
    margin: -10px auto 25px auto;
}

.trActionBox hr {
    border-color: #ffb90f;
    border-width: 3px;
    max-width: 80px;
}

.trActionBox .tr-btn--large {
    margin: 20px auto 0 auto;
    width: 100%;
    font-weight: 500;
    position: absolute;
    left: 40px;
    width: calc(100% - 80px);
    bottom: 40px;
}

.trActionBox .tr-btn--large b {
    font-weight: 900;
}

.trWithUs {
    text-align: center;
    margin: 0 auto 40px auto;
}

.trWithUs ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.trWithUs li {
    width: 80px;
    margin: 15px;
    padding: 0;
}

.trWithUs img {
    max-width: 100%;
    height: auto;
}


.home-page .container h3 {
    line-height: 1.4;
}

.home-page .container p {
    font-size: 15px;
    line-height: 1.5;
    color: inherit;
}

.home-page .home-header {
    margin-top: 40px;
}

.home-page .home-header h3 {
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
}



.home-page footer {
    background: rgba(5, 5, 5, 0.02);
    color: #60646e;
}

.home-page footer .container {
    margin: 0 auto !important;
}

.home-page footer a {
    color: inherit;
}

.home-page-login footer {
    color: #767284;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.home-page-login .hero-content {
    min-height: 65vh;
}

.home-page-login .hero-container {
    min-height: 100vh;
}

.home-page-register {}

.hero-content-left {
    text-align: left;
    max-width: 520px;
    margin-right: 40px;
}


.trForm {
    display: inline-block;
    width: auto !important;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 5px 30px -5px rgba(0, 0, 0, 0.2), 0 5px 20px 0 var(--black-17);
    background: #ffffff;
    color: #1d1c1d;
    min-width: 380px;
    position: relative;
}

.trForm h2 {
    font-size: 24px;
    font-weight: bold;
    color: #1d1c1d;
    text-transform: uppercase;
    margin: 0 0 30px 0;
}

.trForm h2 b {
    color: #ffba0f;
    font-weight: 500;
    ;
}

.trForm input,
.trForm select {
    margin-top: 20px;
    margin-bottom: 7px;
    color: inherit !important;
    border: 1px solid #ebf0f8 !important;
    border-bottom-color: #bec5d5 !important;
    border-radius: 5px !important;
    padding: 7px 10px;
    font-size: 1rem !important;
    font-size: 16px !important;
    line-height: 1.45 !important;
    height: 44px !important;
    box-shadow: none;
}


.trForm input:focus {
    box-shadow: 0 1px 6px 0 rgba(4, 109, 221, 0.5) !important;
    border-bottom-color: #3c79ba !important;
}

.trForm .tr-btn--large {
    margin-top: 30px;
    width: 100%;
    display: block;
}

.trForm p {
    margin: 20px 0;
    font-size: 16px !important;
}

.trForm p:last-child {
    margin-bottom: 0;
}

.trForm-done {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background: #fff;
    z-index: -1;
    opacity: 0;
    visibility: hidden;
    transition: .5s ease all;
}

.trForm-done.active {
    visibility: visible;
    opacity: 1;
    z-index: 5;
}

.trForm-done h2 {
    font-size: 38px;
    font-weight: 500;
    text-align: center;
}

.trForm-done h2 b {
    display: block;
    font-size: 18px;
    font-weight: normal;
}



.RadWindow_Bootstrap .rwTitleWrapper .rwTitle {
    font-weight: bold !important;
    font-size: 15px !important;
    color: #000 !important;
    padding: 0px !important;
}

.RadWindow.rwRoundedCorner {
    border-radius: 12px !important;
    -webkit-box-shadow: 0px 0px 30px 0px rgba(22, 22, 22, 0.31);
    -moz-box-shadow: 0px 0px 30px 0px rgba(22, 22, 22, 0.31);
    box-shadow: 0px 0px 30px 0px rgba(22, 22, 22, 0.31);
}

.RadWindow_Bootstrap.RadWindow.rwRoundedCorner .rwTitleBar {
    border-top-right-radius: 11px !important;
    border-top-left-radius: 11px !important;
}

.RadWindow_Bootstrap span.rwIcon {
    display: none !important;
}

.RadWindow_Bootstrap .rwTitleBar .rwTitleWrapper {
    border-bottom-color: #fff !important;
    text-align: center !important;
}

.RadWindow_Bootstrap .rwTitleBar {
    background-color: #d1dce7 !important;
    background: #d1dce7 !important;
}

.RadWindow_Bootstrap.popup-contactus .rwTitleWrapper .rwTitle {
    margin-left: 85px !important;
}

.popup-container a {
    width: 110px !important;
}

.popup-container a.btn-green.popup-btn {
    color: white;
    background: #F3B315 !important;
    margin-right: 10px !important;
}

.popup-container a.btn-red.popup-btn {
    color: white;
    background: #213151 !important;
}

.popup-container a.btn-custom.button-filled.btn-green {
    border-color: #F3B315 !important;
}

.popup-container a.btn-custom.button-filled.btn-red {
    border-color: #213151 !important;
}

#RadWindowWrapper_modalContactUs .rwTitleBar {
    top: -1px;
}

#msgLink {
    outline: none;
}