/* ---------- [ CookieInfo ] ---------- */

/*!
 * Cookie Law Script v1.0
 *
 * Copyright 2013 Daniel Paul
 * www.danielpaul.me
 *
 * Licensed under
 *
 */


#jquery-cookie-law-script, #jquery-cookie-law-script * {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

#jquery-cookie-law-script {

  position: fixed;
  bottom: 0;
  left: 0;

  z-index: 999999;
  display:none;
  width:100%;
  border-color: #202226;
  border-style: solid;
  border-top-width: 1px;
  background: rgba(50, 58, 69, 0.7);

  color: #F1F1F3;
  font-family: Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 12px;
}

#jquery-cookie-law-script.light {
  color: #1a1a1a;
  background: #fff;
  border-color: rgba(223,223,223,0.85);
}

#jquery-cookie-law-script.top {
  top: 0;
  bottom: auto;
  border-top-width: 0px;
  border-bottom-width: 1px;
}

#jquery-cookie-law-script.absolute {
  position: absolute;
}

#jquery-cookie-law-script a {
  color: #3B89C7;
}

/* ---------- Cookie law main message ---------- */

#jquery-cookie-law-script #cookie-law-container-box {
  background: rgba(32, 34, 38, 0.8);
}
#jquery-cookie-law-script.light #cookie-law-container-box {
  background: #F9FAFC;
}

#jquery-cookie-law-script #cookie-law-container {
  padding: 10px 20px;
}
#jquery-cookie-law-script #cookie-law-message {
  float: left;
  text-align: justify;
}

@media (max-width: 767px) {
  #jquery-cookie-law-script #cookie-law-message {
    width: 65%;
  }
}

@media (max-width: 480px) {
  #jquery-cookie-law-script #cookie-law-message {
    width: 50%;
  }
}

#jquery-cookie-law-script a.cookie-law-button {
  padding: 4px 8px;

  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background-color: #3B89C7;

  color: #ffffff;
  text-decoration: none;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  transition: 0.25s;
}

#jquery-cookie-law-script a.cookie-law-button:hover, #jquery-cookie-law-script a.cookie-law-button:focus {
  background-color: #3176AF;
  color: white;

  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  transition: 0.25s;
}
#jquery-cookie-law-script a#cookie-law-button-more {
  margin-left: 10px;
  background: #7B8A8B;
}
#jquery-cookie-law-script a#cookie-law-button-more:hover, #jquery-cookie-law-script a#cookie-law-button-more:focus {
  background: #697677;
}

/* ---------- Cookie law more info ---------- */

#jquery-cookie-law-script #cookie-law-more-info {
  display: none;
  background: rgba(50, 58, 69, 0.8);
  text-align: justify;
}
#jquery-cookie-law-script.light #cookie-law-more-info {
  background: #EAEDF1;
  border-top: 1px solid #F0F2F5;
}

#jquery-cookie-law-script #cookie-law-info-container {
  padding: 10px 20px;
}
#jquery-cookie-law-script #cookie-law-more-text {
  width: 85%;
}
#jquery-cookie-law-script #cookie-law-more-text-close {
  float: right;
  padding: 1px 10px;
  color: #fff;
  text-decoration: none;
  font-size: 10px;
}
#jquery-cookie-law-script.light #cookie-law-more-text-close {
  color: #3B89C7;
}

.disabledActivation {
    color:gray;
    font-size:10px;
}

.enabledActivation {
    font-size: 11px;
    color:darkgreen;
}